html
{
  margin:0;
  padding:0;
}

body 
{
  margin:0;
  padding:0;
  font-size:0.8em;
  font-family:Arial;
}

.highlight
{
	color:#FE5800;
}

.chinese
{
	color:#FE5800;
	font-family:KaiTi_GB2312, Kai, simsun;
}

/* header */
.header
{
  background-color:#030305;
  height:90px;  
  margin-bottom:20px;
  border-top:solid 1px #616161;
  border-bottom:solid 1px #414141;
}

.header-wrapper
{
  padding-top:20px;
  height:auto;
}

.header-bar
{ 
  border-top:solid 1px #616161;
  height:68px;
  background: #414141 url(img/70px-tb.png);
  border-bottom:solid 1px #616161;
}

.header-content
{
  margin:0 auto;
  width:800px;
  color:White;
}

/* box */

.box
{
  width:800px;
  height:150px;
  margin: 0 auto;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  background: #FE7800 url(img/150px-wt.png);
  color:White;
  -moz-box-shadow:2px 2px 4px #404040;
  -webkit-box-shadow:2px 2px 4px #404040;
}

.content
{
  padding:1em;
}