@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&subset=latin-ext');
@font-face {
  font-family: 'kaiti';
  src: url('fonts/KaiTi.eot');
  src: url('fonts/KaiTi.eot?#iefix-v6i5sf') format('embedded-opentype'), url('fonts/KaiTi.woff') format('woff'), url('fonts/KaiTi.ttf') format('truetype'), url('fonts/KaiTi.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.font-default {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 15px;
}
.font-bold {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-weight: 400;
}
.font-bolder {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-weight: 700;
}
/* light reset */
html,
body {
  padding: 0;
  margin: 0;
}
* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0.5em 0 0.25em 0;
}
p,
ul,
ol,
dl {
  margin-top: 0;
}
ul {
  padding-left: 0;
  list-style-type: none;
}
ul li {
  margin-left: 1.25em;
  position: relative;
}
ul li:before {
  content: "\2013 ";
  font-weight: bold;
  position: absolute;
  left: -1em;
}
ol {
  padding-left: 2em;
  list-style-type: decimal;
}
.panel,
form,
.card {
  border: solid 1px #a7a39b;
  border-radius: 2px;
  background-color: #f3efe8;
  border-top: none;
  border-left: none;
  box-shadow: 2px 2px 4px #958b7a;
  padding: 16px;
}
form {
  margin-bottom: 16px;
}
select,
textarea,
input {
  box-shadow: 1px 1px 0px #c2bdb3;
  background: #e9e3d9;
  border-radius: 2px;
  padding: 8px;
  text-align: center;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  width: 100%;
  border: none;
  outline: none;
}
select:focus,
textarea:focus,
input:focus {
  background: #fff5dc;
}
select:focus,
textarea:focus,
input:focus,
select:hover,
textarea:hover,
input:hover,
select:active,
textarea:active,
input:active {
  box-shadow: 1px 1px 0px #888888;
}
/* cards */
.cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin: 0 16px 16px 0;
  width: 190px;
  height: 220px;
  cursor: pointer;
  position: relative;
}
.card:hover {
  border-color: #757067;
  box-shadow: 2px 2px 4px #5e574b;
}
.card h2 {
  margin: 0;
  font-size: 35px;
  text-align: center;
}
.card .pinyin {
  text-align: center;
}
body {
  padding: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #505050;
}
.chinese {
  font-family: 'kaiti';
  color: #a00000;
}
.pinyin {
  color: #4e4028;
}
h1 {
  color: #a00000;
}
.answer-form {
  width: 400px;
}
