^(.*/)?.*\.DS_Store$
.DS_Store
build/
docs/
node_modules/
data/
data_*/
src/
readme.md
babel.config.js
vue.config.js
.prettierrc
.gitignore
.gcloudignore
tslint.json
tsconfig.json
settings.json
package.json
package-lock.json
yarn.lock
yarn-error.log
dist/static/*.less
