@import 'less/variables.less';
@import 'less/fonts.less';
@import 'less/reset.less';
@import 'less/colors.less';
@import 'less/panel.less';
@import 'less/form.less';
@import 'less/cards.less';

body {
  padding: @size-default;
  .font-default();
  color: @color-black;
  background-color: @color-sand-light;
}

.chinese {
  font-family: 'kaiti';
  color: @color-darkred;
}

.pinyin {
  color: darken(@color-sand, 70%);
}

h1 {
  color: @color-darkred;
}

.answer-form {
  width: 400px;
}

.characters {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  li {
    font-size: 40px;
    min-width: 140px;
    min-height: 140px;
    flex: 1;
    text-align: center;
    border-radius: @border-radius;
    box-shadow: 2px 2px 6px @color-sand-dark;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.chinese-double {
      min-width: 170px;
    }
    &.chinese-tripple {
      min-width: 210px;
    }
    &.chinese-quadrupple {
      min-width: 280px;
    }

    h2 {
      margin: 0;
    }
  }
}
